# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
.npm
.eslintcache

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Uploads
dynamic-form-design-backend/uploads/

# Docker
*.pid
*.seed
code/
.m2/